#main-navbar{
  background-color: blue;
  width: 100%;
  position: relative;
  float: left;
}

#navbar-container ul{
	left: 50%;
	position: relative;
	float: left;
}

#navbar-container ul li a{
  display: block;
  color: #fff;
  padding: 10px 20px;
  
}

#navbar-container ul li a:hover{
  background-color: #000;
  text-decoration: underline overline;
}
